/* homepage */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.name{ 
text-align: center;
font-family: 'Poiret One', cursive;
color: white;
  font-size: 100px;
}
img{
 display: block;
 margin: 0 auto;
 height: auto; 
}

body{
 font-size: 35px;
 background: #A7CECB;
 font-family: 'Poiret One', cursive;
  padding: 50px; 
}
  p{
    text-align: center;
}

/* menu nav bars */
nav{
  text-align: center;
}
li{
  background: white;
  letter-spacing: 3px;
  font-weight: 200;
  text-align: center;
  padding: 3px;
  margin-top: 2em;
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
}
li a {
display: block;
color: black;
text-align: center;  
padding: 10px;
text-decoration: none;
}
li a:hover {
    background-color: #ff99a8;
    color: white; 
}
/* resume */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body, h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  color: black;
  line-height: 50px;
  text-align: left;
}
img{
  display: block;
  height: 400px;
 margin: 0 auto;
background: #ff99a8;
padding: 1em;
}

.bio{
text-align: center;
font-style: Bold;
margin: 0 5em 0 5em;
}
header {
color: white;
background:  #ff99a8;
font-weight: 700;
  margin: 30px;
  text-align: center;
}

h2 {
  color: white;
  font-style: Bold;
  font-weight: 700;
  border-bottom: 3px;
  display: inline-block;
  line-height: 40px;
  margin-top: 20px;
  font-size: 1.5em;
 
}
.rule {
  box-sizing: border-box;
  height: .1px;
  background: #ff99a8;
}
.item h4{
  color: #979797;
  font-size: 40px;
}
h3,h4{
  color: black;
  font-weight: 700;
  margin-top: 10px;
  line-height: 28px;
    display: inline-block;
    vertical-align: top;
}

h5 {
  font-size: 18px;
  color: white;
  margin-top: 0;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
li{
  color: #484848;
}
footer h3{
color: white;
}
footer h4 {
  color: black;
}
 
  div {
    padding: 25px 0;
    margin-bottom: 10px;
    font-style: 35px;
    margin: 30px;
     text-align: center;
}

/*  contact page  */
.contact  {
 font-size: 100px;
 text-align: center;
 margin: 0 auto;
}
.email{
 font-size: 50px;
}
  
/* keyframe animation*/
@keyframes .animation {
  0% { 
  transform: translateY(-130px) scale(5); 
  color: #ff99a8;
  }
 100% { 
   transform: translateY(0) scale(1); 
   animation-delay: 4s;
   color: white;
  }}

@media (min-width: 645px) {
  body, h1, h2, h3, h4 {
  }
  header {
    padding: 30px;
    margin-bottom: 10px;
    font-size: 52px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
} 

h4{
text-align: center;
animation: Bigtosmall 4s forwards ease-in;
font-size: 100px;
}

img{
height: 75%;
width: 25%;
display: block;
background: none;
}

  }
 
  
  
  