/* homepage */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.name{ 
text-align: center;
font-family: 'Poiret One', cursive;
color: white;
  font-size: 100px;
  padding: 30px;
}
img{
 display: block;
 margin: 0 auto;
 height: auto; 
}

body{
 font-size: 35px;
 background: #A7CECB;
 font-family: 'Poiret One', cursive;
  padding: 50px; 
}
  p{
    text-align: center;
}

/* menu nav bars */
nav{
  text-align: center;
 
}

.linav{
  background: white;
  letter-spacing: .25em;
  font-weight: 200;
  text-align: center;
  padding: .25em;
  margin-top: 2em;
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
}
li a {
display: block;
color: black;
text-align: center;  
padding: .25em;
text-decoration: none;
}
li a:hover {
    background-color: #ff99a8;
    color: white; 
}
/* resume */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body, h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  color: black;
  line-height: 50px;
  text-align: left;
}
img{
  display: block;
  height: 400px;
 margin: 0 auto;
padding: 1em;
}

.bio{
text-align: center;
font-style: Bold;
margin: 0 5em 0 5em;
}


h2 {
  color: white;
  font-style: Bold;
  font-weight: 700;
  border-bottom: 3px;
  display: inline-block;
  line-height: 40px;
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
 
}
.rule {
  box-sizing: border-box;
  height: .075px;
  background: #ff99a8;
}
.item h4{
  color: #979797;
  font-size: 40px;
}
h3,h4{
  color: black;
  font-weight: 700;
  margin-top: 10px;
  line-height: 28px;
    display: inline-block;
    vertical-align: top;
}

h5 {
  font-size: 18px;
  color: white;
  margin-top: 0;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dot {
  list-style-type: none;
}

li{
  color: #484848;
}
footer h3{
color: white;
}
footer h4 {
  color: black;
}
 
  div {
    padding: 25px 0;
    margin-bottom: 10px;
    font-style: 35px;
    margin: 30px;
     text-align: center;
}


/* Portfolio */

.Portfolio{
font-size: 100px;
  text-align: center;
  background: #979797;
  color: white;
  padding: 40px;
  }

figure{
  background: none;
  width: 300px;
  position: relative;
  opacity: hidden;
  margin: 0 auto;

}

figcaption {
  background: #FF99a8;
  color: white;
  width: 300px;
  position: absolute;
  bottom: 0;
  display: none;
  margin-left: 35px

}
/* last frame */
figure:hover figcaption{
  opacity: 1;
  bottom: 0;
  display: inline;
  text-align: center;
}
.wheel{
  width: 300px;
  margin-top: 50px;

}
.ocean{
  width: 300px;
  margin-top: 50px;

  }
.rocks{
  width: 300px;
  margin-top: 50px;
}

.tent{
  width: 300px;
  margin-top: 50px;
}

.last{
  width: 300px;
  margin-top: 50px;
}

/* keyframe animation*/
@keyframes .animation {
  0% { 
  transform: translateY(-130px) scale(5); 
  color: #ff99a8;
  }
 100% { 
   transform: translateY(0) scale(1); 
   animation-delay: 4s;
   color: white;
  }}

@media (max-width: 1000px) {
  body, h1, h2, h3, h4 {
    font-size: 2em;
  }
  .name{
    font-size: 5em;
  }
  header {
    padding: 30px;
    margin-bottom: 10px;
    font-size: 52px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    font-size: 80px;
} 

img{
height: 75%;
width: 25%;
display: block;
background: none;
 text-align: center;

  
}
  .linav{
    font-size: .7em;
  }
  
  }
 
/* contact page  */

  label, 
input{
  display: block;
  margin: 0 auto;
  font-size: 1em;
  margin-left:em;
  padding: 2px;
  color: white;
font-size: 50px;
  color: black;
}

input[type="text"]{
    padding: 10px 40px; 
    background: #FF99a8;
    width: 350px;
    border-radius: 3px;
 color: black;
}

input[type="email"]{
    padding: 10px 40px; 
    background: #FF99a8;
    width: 350px;
    border-radius: 1px;
  font-size: 50px;
  color: black;
}
input[type="message"]{
  background: #FF99a8;
  height: 200px;
  width: 500px;
  color: black;
}
  .contact  {
 font-size: 100px;
 text-align: center;
 margin: 0 auto;
    color: black;

}   
