@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h1{ 
text-align: center;
font-family: 'Poiret One', cursive;
color: white;
}

img{
 display: block;
 margin: 0 auto;
 height: auto; 
}

body{
 font-size: 50px;
 background: #FF6699;
 font-family: 'Poiret One', cursive;
  padding: 50px;
  
}

img{
 background: lavender;
  padding: 1.5em;
}